body {
    background-color: lightgray;
}

.container {
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    width: 450px;

}

.avathar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-content {
    margin: 10px 0px 10px 0;
}

.user-name-1 {
    text-transform: capitalize;
}

.handler {
    color: rgb(137, 137, 235);
    font-weight: bold;
    font-style: italic;
}

.profile-pic {
    padding: 5px;
    margin: 10px;
}

.time-stamp {
    font-weight: lighter;
    font-size: 13px;
}

.user-tweet {
    margin: 10px 0px 10px 0px;
}

.like-and-tweet {
    display: flex;
    column-gap: 10px;
}

.replies {}